<%= form_for([@version, @version.table.build]) do |f| %>
  <p align="center">

    <!-- <%= f.hidden_field :Table_Name, :value => "123"%> -->
  </p>
  <p align="center">
    <%= f.label :Column_Name %><br>
    <%= f.text_field :Column_Name %>
  </p>
  <p align="center">
    <%= f.label :Data_Type %><br>
    <%= f.text_field :Data_Type %>
  </p>
  <br>
  <p align="center">
    <%= f.submit %>
  </p>
<% end %>
