<table class="table" align="center" width="20%">

  <%= form_for([@version, @version.table.build]) do |f| %>
  <p align="center">

    <%= f.hidden_field :Table_Name, :value => @version.Version_Name%>
  </p>

      <td>

          <%= f.label :Logical_Name %><br>
          <%= f.text_field :Longest_Name, :size=>"18"%>

      </td>
      <td>
          <%= f.label :Short_Name %><br>
          <%= f.text_field :Short_Name, :size=>"12" %>

      </td>
    <td>

          <%= f.label :Column_Name %><br>
          <%= f.text_field :Column_Name, :size=>"15" %>
      </td>

      <td>

          <%= f.label :Data_Type  %><br>
          <%= f.text_field :Data_Type, :size=>"12"  %>

      </td>
      <td>

          <%= f.label :Display_Width %><br>
          <%= f.text_field :Display_Width, :size=>"10" %>

      </td>
      <td>

          <%= f.label :Display_Height %><br>
          <%= f.text_field :Display_Height, :size=>"10" %>

      </td>
      <td>

          <%= f.label :Display_Prompt %><br>
          <%= f.text_field :Display_Prompt, :size=>"15" %>

      </td>
      <td>

          <%= f.label :Implementation_Comment %><br>
          <%= f.text_field :Implementation_Comment, :size=>"35" %>

      </td>
    </tr>

</table>

<p align="center">
  <%= f.submit "Create Data Point" %>
</p>
<% end %>
