<table width="20%" align="center">

  <%= form_for([@version, @version.table.build]) do |f| %>
  <p align="center">


    <%= f.hidden_field :Table_Name, :value => @version.Version_Name%>
  </p>
      <tr>
      <td><%= f.label :Logical_Name %> </td>
      <td><%= f.text_field :Longest_Name, :size=>"18"%></td>
     </tr>
    <tr>
      <td> <%= f.label :Short_Name %></td>
      <td> <%= f.text_field :Short_Name, :size=>"18" %> </td>
    </tr>
    <tr>
    <td>  <%= f.label :Column_Name %></td>
    <td><%= f.text_field :Column_Name, :size=>"18" %></td>
    </tr>
    <tr>
      <td> <%= f.label :Data_Type  %></td>
      <td> <%= f.text_field :Data_Type, :size=>"18" %> </td>
    </tr>
    <tr>
      <td><%= f.label :Display_Width %></td>
      <td><%= f.text_field :Display_Width, :size=>"18" %> </td>
    </tr>
    <tr>
      <td><%= f.label :Display_Height %></td>
      <td><%= f.text_field :Display_Height, :size=>"18" %> </td>
    </tr>
    <tr>
      <td><%= f.label :Display_Prompt %></td>
      <td><%= f.text_field :Display_Prompt, :size=>"18" %></td>
    </tr>
    <tr>
      <td><%= f.label :Implementation_Comment %><br></td>

      <td><%= f.text_area :Implementation_Comment, :cols => "21", :rows => "7" %> </td>
    </tr>

    </tr>

</table>


<p align="center">
  <%= f.submit "Create Data Point" %>
</p>
<% end %>
