<div class = "jumbotron">

    <br>
    <br>
    <p align="center">
      <strong>The following system has been created:  </strong>
      <%= @system.System_Name %>
    </p>

    <h2 align="center">Versions</h2>
      <% @system.versions.each do |version| %>
        <p align="center">
          <strong>Versions:</strong>
          <%= version.Version_Name %>
        </p>
      <% end %>

    <h5 align="center">Add a version:</h2>
    <%= form_for([@system, @system.versions.build]) do |f| %>
      <p align="center">
        <%= f.label :Version_Name %><br>
        <%= f.text_field :Version_Name %>
      </p>
      <p align="center">
        <%= f.submit %>
      </p>
    <% end %>
    <br>
    <p align="center">
      <%= link_to 'Systems list', controller: 'systems' %> |
      <%= link_to 'Edit', edit_system_path(@system) %> |
      <%= link_to 'Back', systems_path %>
    </p>
</div>
