<div class = "jumbotron">

    <br>
    <br>
    <p align="center">
      <strong>The following system has been created:  </strong>
      <%= @system.System_Name %>
    </p>

    <%= render @system.versions %>

    <h5 align="center">Add a version:</h2>
    <%= render 'versions/form' %>
    <br>

    <p align="center">
      <%= link_to 'Systems list', controller: 'systems' %> |
      <%= link_to 'Edit', edit_system_path(@system) %> |
      <%= link_to 'Back', systems_path %>
    </p>
</div>
