<div class = "jumbotron">
  <h2 align="center">Add a new version to System "<%= @system.System_Name %>" below</h2>
  <br>

  <%= form_for([@system, @system.versions.build]) do |f| %>
    <p align="center">
      <%= f.label :Version_Name %><br>
      <%= f.text_field :Version_Name %>
      <%= f.file_field :csvFile %>
    </p>
    <br>
    <p align="center">
      <%= f.submit %>
    </p>
  <% end %>




  <br>
  <br>
  <p align="center"><%= link_to 'List of Versions for this system', system_path(@system) %></p>
</div>
