<div class = "jumbotron">
  <h1 align="center">Show versions</h1>
  <p align="center">
    <strong>Below is a list of all versions for System "<%= @system.System_Name %>"</strong>
  </p>
  <table align="center" width="80%">
    <br>
    <tr>
      <th>System</th>
      <th>Version</th>
      <th>Version Created at</th>
      <th>Verison Updated at</th>
    </tr>
    <% @system.versions.each do |version| %>
      <tr>
          <td><%= @system.System_Name %></td>
          <td><%= version.Version_Name %></td>
          <td><%= version.created_at %></td>
          <td><%= version.updated_at %></td>
          <td><%= link_to 'Delete Version', [version.system, version],method: :delete,data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </table>


  <br>
  <br>
  <p align="center"><%= link_to 'Back', systems_path %></p>
</div>
