<body>

<div class = "jumbotron">
  <h1 align="center">Data Point Display</h1>

  <table align="center" style="width:50%">
  <tr>
    <td><b>System:</b>...</td>
    <td><b>Version:</b> <%= @version.Version_Name %></td>
  </tr>
</table>
</br>


  <table class="table table-hover" align="center" width="80%">
    <br>
    <tr>
      <th>Version</th>
      <th>Table name</th>
      <th>Column name</th>
      <th>Data type</th>
      <th>Display Width</th>
      <th>Display Height</th>
      <th>Display Prompt</th>
      <th>Display_Short_Prompt</th>
      <th>Implementation Comment</th>

    </tr>
    <% @version.table.each do |table| %>
      <tr>
          <td><%= @version.Version_Name %></td>
          <td> <a href="#" data-xeditable="true" id="Column_Name" data-type="text" data-resource="post" data-name="Column_Name" data-url="/update/1" data-original-title="Enter username"><%= table.Table_Name %> </a> </td>
          <td><%= table.Column_Name %></td>
          <td><%= table.Data_Type %></td>
          <td><%= table.Display_Width %></td>
          <td><%= table.Display_Height %></td>
          <td><%= table.Display_Prompt %></td>
          <td><%= table.Display_Short_Prompt %></td>
          <td><%= table.Implementation_Comment %></td>
          <!-- <td><%= link_to 'Delete Data Point', table_path(table),method: :delete,data: { confirm: 'Are you sure?' } %></td> -->
          <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, table_path(table),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' %> </td>
      </tr>
    <% end %>
  </table>


  <br>
  <br>
  <p align="center">
    <%= link_to 'Add a New Data Point', new_version_table_path(@version) %>
  </p>


</div>
</body>
