<body>

<div class = "jumbotron">
  <h1 align="center">Data Point Display</h1>
  <p> Your choice: <%= Reusable.myName(@version.Version_Name) %> </p>


  <table align="center" style="width:50%">
  <tr>
    <td><p><b>System:</b>...</p></td>
    <td><p><b>Version:</b> <%= @version.Version_Name %></p></td>
  </tr>
</table>

  <table class="table table-hover" align="center" width="80%">
    <br>
    <tr>
      <th>Logical Name</th>
      <th>Short Name</th>
      <th>Table Name</th>
      <th>Column Name</th>
      <th>Data type</th>
      <th>Display Width</th>
      <th>Display Height</th>
      <th>Display Prompt</th>

      <th>Implementation Comment</th>

    </tr>
    <% @version.table.each do |table| %>
      <tr>
          <td> <%= best_in_place table, :Longest_Name %> </td>
          <td> <%= best_in_place table, :Short_Name %> </td>
          <td> <%= best_in_place table, :Table_Name %> </td>
          <td> <%= best_in_place table, :Column_Name %> </td>
          <td> <%= best_in_place table, :Data_Type %> </td>
          <td> <%= best_in_place table, :Display_Width %> </td>
          <td> <%= best_in_place table, :Display_Height %> </td>
          <td> <%= best_in_place table, :Display_Prompt %> </td>
          <td> <%= best_in_place table, :Implementation_Comment %> </td>






          <!-- <td><%= link_to 'Delete Data Point', table_path(table),method: :delete,data: { confirm: 'Are you sure?' } %></td> -->

          <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, table_path(table),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' %> </td>
      </tr>
    <% end %>
  </table>

  <%= render "tables/form2", :version => @version %>



  <!-- Trigger the modal with a button -->
  <p align="center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add all values</button>
</p>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Multiple Values</h4>
        </div>
        <div class="modal-body">
          <%= render "tables/form3", :version => @version %>

        </div>

      </div>

    </div>
  </div>


  <br>
  <br>

  <!-- <p align="center">
    <%= link_to 'Add a New Data Point', new_version_table_path(@version) %>

  </p> -->


</div>
</body>
