<body>

<div class = "jumbotron">
  <h1 align="center">Data Point Display</h1>



  <table align="center" style="width:50%">
  <tr>
    <td><p><b>System:</b> <%= @system.System_Name %> </p></td>
    <td><p><b>Version:</b> <%= @version.Version_Name %> </p></td>
  </tr>
</table>
<p align="center"> Below are all the data points for the chosen version. You are able to add, edit and delete data points all on this page. Edit data points by clicking on the wanted cells in the table below.</p>


  <table class="table table-hover1" >

    <br>
    <thead>
    <tr>
      <th >Logical Name</th>
      <th >Short Name</th>
      <th >Table Name</th>
      <th >Column Name</th>
      <th >Data type</th>
      <th >Display Width</th>
      <th >Display Height</th>
      <th >Display Prompt</th>


      <th >Implementation Comment</th>
      <th></th>
      <!-- <th>Active</th> -->
    </tr>
  </thead>

    <tbody >
    <% @version.table.each do |table| %>
      <tr>
          <td style="word-break:break-all;" > <%= best_in_place table, :Logical_Name , :html_attrs => { :style => 'width:120px' }, :as => :textarea%> </td>
          <td style="word-break:break-all;" > <%= best_in_place table, :Short_Name, :html_attrs => { :style => 'width:120px' }, :as => :textarea %> </td>
          <td style="word-break:break-all;" > <%= best_in_place table, :Table_Name, :html_attrs => { :style => 'width:120px' }, :as => :textarea %> </td>
          <td style="word-break:break-all;" > <%= best_in_place table, :Column_Name, :html_attrs => { :style => 'width:120px' }, :as => :textarea %> </td>
          <td style="word-break:break-all;"> <%= best_in_place table, :Data_Type, :html_attrs => { :style => 'width:120px' }, :as => :textarea %> </td>
          <td > <%= best_in_place table, :Display_Width , :html_attrs => { size: 5 } %> </td>
          <td > <%= best_in_place table, :Display_Height, :html_attrs => { size: 5 }  %> </td>
          <td style="word-break:break-all;"> <%= best_in_place table, :Display_Prompt, :html_attrs => { :style => 'width:110px' }, :as => :textarea, :as => :textarea  %> </td>
          <td style="word-break:break-all;"> <%= best_in_place table, :Implementation_Comment, :html_attrs => { :style => 'width:120px' }, :as => :textarea, :as => :textarea %> </td>
          <!-- <td><%= link_to 'Delete Data Point', table_path(table),method: :delete,data: { confirm: 'Are you sure?' } %></td> -->
          <!-- <td><input type="checkbox" checked data-toggle="toggle"></td> -->
          <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, table_path(table),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' , :title => "Delete system.", :title => "Delete data point."%> </td>
      </tr>
    <% end %>
  </tbody>
  </table>





  <!-- Trigger the modal with a button -->
  <p align="center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add a Data Point</button>
</p>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" align="center">Add a New Data Point</h3>
        </div>
        <div class="modal-body">
          <%= render "tables/form3", :version => @version %>

        </div>

      </div>

    </div>
  </div>


  <br>
  <br>

  <!-- <p align="center">
    <%= link_to 'Add a New Data Point', new_version_table_path(@version) %>

  </p> -->


</div>
</body>
