<body>

<div class = "jumbotron">
  <h1 align="center"> View All Mappings</h1>
<p align = "center"><%= link_to '<i class="glyphicon glyphicon-plus"></i> '.html_safe, new_map_path, class: 'btn btn-custom' , :title => "Add a new mapping"%> </p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>

<table class="table table-hover" align="center" width="90%">
  <tr>
    <th>Data point id </th>
    <th>System Name </th>
    <th>Version Name </th>
    <th>Logical Name </th>
    <th>Short Name </th>
    <th>Table Name </th>
    <th>Column Name </th>


    <th></th>
    <th></th>
    <th></th>
    <th>Data point id </th>
    <th>System Name </th>
    <th>Version Name </th>
    <th>Logical Name </th>
    <th>Short Name </th>
    <th>Table Name </th>
    <th>Column Name </th>



    <th></th>
  </tr>





  <div class = "hidden" >  <%= @matt = Map.where(fromVersionName: "123") %> </div>


  <% @maps.each do |map| %>
    <tr>
      <td><%= map.mapfrom_id %></td>
      <td><%= System.find(Version.find(map.mapfrom.version_id).system_id).System_Name %> </td>
      <td><%= Version.find(map.mapfrom.version_id).Version_Name %> </td>
      <td><%= map.mapfrom.Logical_Name %></td>
      <td><%= map.mapfrom.Short_Name %></td>
      <td><%= map.mapfrom.Table_Name %></td>
      <td><%= map.mapfrom.Column_Name %></td>


      <td></td>
      <td style="color:red;">Maps to</td>
      <td></td>
      <td><%= map.mapto_id%></td>
      <td><%= System.find(Version.find(map.mapto.version_id).system_id).System_Name %> </td>
      <td><%= Version.find(map.mapto.version_id).Version_Name %> </td>
      <td><%= map.mapto.Logical_Name %></td>
      <td><%= map.mapto.Short_Name %></td>
      <td><%= map.mapto.Table_Name %></td>
      <td><%= map.mapto.Column_Name %></td>
      <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, map_path(map),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' , :title => "Delete mapping"%> </td>

    </tr>
  <% end %>
</table>
</div>

</body>
