<body>

<div class = "jumbotron">
  <h1 align="center">Create a New Mapping</h1>
  <p align="center"> Use the form below to input the ids of data points from different systems or versions which you would like to map. You can use the 2 tables below the form to identify the ids of the datapoints that you would like to map.</p>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end %>


      <div class="modal-body row" align = "center">
        <div class="col-md-6">
          <div class="dropdownLeft">
            <p >Choose system 1</p>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">List of Systems
              <span class="caret"></span></button>
              <ul class="dropdown-menu" id="id1" align="center">
                <% @systems.each do |f| %>
                <li> <%= link_to f.System_Name, show_version_path(f, :myID2 => params[:myID2]) %> </li>

                <% end %>
              </ul>


            </div>

            <div class = "hidden" >  <%= @sysName = Version.where(id: params[:myID]) %> </div>
            <% @sysName.each do |map| %>
            <table  >
                <tr align="center"><td><p><b>Chosen System 1:</b> <%= System.find(Version.find(map.id).system_id).System_Name %> </p></td></tr>
                <tr align="center"><td>  <p><b>Chosen Version 1:</b> <%=map.Version_Name %> </p></td></tr>
            <% end %>
          </table>


        </div>

        <div class="col-md-6">
          <div class="dropdownRight">
            <p align = "center">Choose system 2:</p>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">List of Systems
            <span class="caret"></span></button>
            <ul class="dropdown-menu" id="id1" align="center">
              <% @systems.each do |f| %>
              <li> <%= link_to f.System_Name,  new_version_path(f, :myID1 => params[:myID]) %> </li>
              <% end %>
            </ul>



          </div>
        </div>
        <div class = "hidden" >  <%= @sysName = Version.where(id: params[:myID2]) %> </div>
        <% @sysName.each do |map| %>
        <table align="center">
            <tr align="center"><td><p><b>Chosen System 2:</b> <%= System.find(Version.find(map.id).system_id).System_Name %> </p></td></tr>
            <tr align="center"><td>  <p><b>Chosen Version 2:</b> <%=map.Version_Name %> </p></td></tr>
        <% end %>
      </table>
      </div>


      <div class = "hidden" >  <%= @filtered = Map.where(fromVersionName: params[:myID]).where(toVersionName: params[:myID2]) %> </div>
      <div class = "hidden" >  <%= @filtered2 = Map.where(fromVersionName: params[:myID2]).where(toVersionName: params[:myID]) %> </div>

      <h2 align="center"> Your current mappings </h2>
        <p align="center"> Below is the complete list of mappings that have been created between data points from the two versions that you have selected. Data points from the version 1 are shown on the left and data points from the version 2 are shown on the right.</p>
        <div class="scrollWrapper1">
              <table class="table table-hover" align="center" width="90%">
                <tr>
                  <!-- <th>Data point id </th>
                  <th>System Name </th>
                  <th>Version Name </th> -->
                  <th style="color:blue">Logical Name </th>
                  <th>Short Name </th>
                  <th>Table Name </th>
                  <th>Column Name </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <!-- <th>Data point id </th>
                  <th>System Name </th>
                  <th>Version Name </th> -->
                  <th style="color:blue">Logical Name </th>
                  <th>Short Name </th>
                  <th>Table Name </th>
                  <th>Column Name </th>
                  <th></th>
                </tr>

                <!-- Below is the List that displays mappings that were created in the opposite (i.e. to-from) direction. -->
              <% @filtered2.each do |map| %>
                <tr>
                  <!-- <td><%= map.mapto_id%></td>
                  <td><%= System.find(Version.find(map.mapto.version_id).system_id).System_Name %> </td>
                  <td><%= Version.find(map.mapto.version_id).Version_Name %> </td> -->
                  <td style="color:blue"><%= map.mapto.Logical_Name %></td>
                  <td><%= map.mapto.Short_Name %></td>
                  <td><%= map.mapto.Table_Name %></td>
                  <td><%= map.mapto.Column_Name %></td>
                  <td></td>
                  <td title="A bidirectional mapping"><p style="color:red;">&#x2194</p></td>
                  <td></td>
                  <!-- <td><%= map.mapfrom_id %></td>
                  <td><%= System.find(Version.find(map.mapfrom.version_id).system_id).System_Name %> </td>
                  <td><%= Version.find(map.mapfrom.version_id).Version_Name %> </td> -->
                  <td style="color:blue"><%= map.mapfrom.Logical_Name %></td>
                  <td><%= map.mapfrom.Short_Name %></td>
                  <td><%= map.mapfrom.Table_Name %></td>
                  <td><%= map.mapfrom.Column_Name %></td>
                  <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, map_path(map),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' , :title => "Delete mapping"%> </td>
                </tr>
              <% end %>

              <!-- Below is the List that displays mappings that were created in the current from-to version direction. -->
                <% @filtered.each do |map| %>
                  <tr>
                    <!-- <td><%= map.mapfrom_id %></td>
                    <td><%= System.find(Version.find(map.mapfrom.version_id).system_id).System_Name %> </td>
                    <td><%= Version.find(map.mapfrom.version_id).Version_Name %> </td> -->
                    <td style="color:blue"><%= map.mapfrom.Logical_Name %></td>
                    <td><%= map.mapfrom.Short_Name %></td>
                    <td><%= map.mapfrom.Table_Name %></td>
                    <td><%= map.mapfrom.Column_Name %></td>
                    <td></td>
                    <td title="A bidirectional mapping"><p style="color:red;">&#x2194</p></td>
                    <td></td>
                    <!-- <td><%= map.mapto_id%></td>
                    <td><%= System.find(Version.find(map.mapto.version_id).system_id).System_Name %> </td>
                    <td><%= Version.find(map.mapto.version_id).Version_Name %> </td> -->
                    <td style="color:blue"><%= map.mapto.Logical_Name %></td>
                    <td><%= map.mapto.Short_Name %></td>
                    <td><%= map.mapto.Table_Name %></td>
                    <td><%= map.mapto.Column_Name %></td>
                    <td><%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe, map_path(map),method: :delete,data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' , :title => "Delete mapping"%> </td>
                  </tr>
                <% end %>


              </table>
              </div



 <!-- SECOND HALF -->
 <h2 align="center"> Data Points available to map </h2>
 <p align="center"> Use the form below to create a new mapping between the data points of the two versions. Please select one datapoint from each table below before clicking the submit button.</p>
 <%= form_for :map, url: map_index_path do |f| %>

 <p align="center">
   <%= f.hidden_field :fromVersionName, :value => params[:myID] %>
 </p>
 <p align="center">
   <%= f.hidden_field :toVersionName, :value => params[:myID2]%>
 </p>
      <div class="modal-body row" align = "center">
        <div class="col-md-6">
              <div class = "hidden" > <%= @matt = Table.where(version_id: params[:myID]) %> </div>
              <div class="scrollWrapper">
              <table class="table table-hover" align="center" width="80%">
                <br>

                <tr>
                  <th></th>
                  <!-- <th>id</th> -->
                  <th style="color:blue">Logical Name</th>
                  <th>Short Name</th>
                  <th>Table Name</th>
                  <th>Column Name</th>
                </tr>


                <% @matt.each do |table| %>

                  <tr>
                      <td>  <%= f.radio_button :mapfrom_id, table.id %> </td>
                      <!-- <td><%= table.id%></td> -->
                      <td style="color:blue"> <%= best_in_place table, :Logical_Name %> </td>
                      <td> <%= best_in_place table, :Short_Name %> </td>
                      <td> <%= best_in_place table, :Table_Name %> </td>
                      <td> <%= best_in_place table, :Column_Name %> </td>
                  </tr>

                <% end %>

              </table>
            </div>

              <!-- <p align="center">
                    Please choose a data point from the dropdown below (Logical_Name displayed): </br>
                    <%= f.label :Data_Point_to_Map_from %></br>
                    <%= f.collection_select :mapfrom_id, @matt.all, :id , :Logical_Name %>
              </p> -->

        </div>
        <div class="col-md-6">
          <div class = "hidden" >  <%= @matt = Table.where(version_id: params[:myID2]) %> </div>
          <div class="scrollWrapper">
          <table class="table table-hover" align="center" width="80%">
            <br>
            <tr>
              <th></th>
              <!-- <th>id</th> -->
              <th style="color:blue">Logical Name</th>
              <th>Short Name</th>
              <th>Table Name</th>
              <th>Column Name</th>
            </tr>
            <% @matt.each do |table| %>
              <tr>

                  <td >  <%= f.radio_button :mapto_id, table.id %> </td>
                  <!-- <td><%= table.id%></td> -->
                  <td style="color:blue"> <%= best_in_place table, :Logical_Name %> </td>
                  <td> <%= best_in_place table, :Short_Name %> </td>
                  <td> <%= best_in_place table, :Table_Name %> </td>
                  <td> <%= best_in_place table, :Column_Name %> </td>
              </tr>
            <% end %>
          </table>
        </div>
<!--
          <p align="center">
                Please choose a data point from the dropdown below (Logical_Name displayed): </br>
                <%= f.label :Data_Point_to_Map_to %></br>
                <%= f.collection_select :mapto_id, @matt.all, :id , :Logical_Name %>
          </p> -->

        </div>

      </div>
      <br>

      <% if @map.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@map.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @map.errors.each do |attr,msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <p align="center"><%= link_to 'Return Back to current mappings', :back %></p>
      </div>
     <% end %>

    <!-- <div class="modal-body row" align = "center">
      <div class="col-md-6">
        <div class="dropdownLeft">
          <p align="center">
            <%= f.label :Choice_1%>
            <%= f.text_field :mapfrom_id %>
          </p>

          </div>
      </div>
      <div class="col-md-6">
        <div class="dropdownRight">
          <p align="center">
            <%= f.label :Choice_2%>
            <%= f.text_field :mapto_id %>
          </p>
        </div>
      </div>
    </div> -->
    <p align="center">
      <%= f.submit "Create Data Point Mapping"%>
    </p>
  <% end %>


</body>
