<!DOCTYPE html>
<html>
  <head>
    <title>MapleProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <!-- Write your page content  here -->
      <p>MAPLE PRJECT</p>
      <button type="button" style="float: right;"> <%= link_to 'Mapping', controller: 'map' %></button>
      <button type="button" style="float: right;"> <%= link_to 'Maintaining', controller: 'maintain' %></button>
      <button type="button" style="float: right;"> <%= link_to 'Uploading', controller: 'load' %></button>
      <button type="button" style="float: right;"> <%= link_to 'View Systems', controller: 'systems' %></button>
      <button type="button" style="float: right;"> <%= link_to 'Home page', controller: 'home_page' %></button>
      <p>Developers: Pius, Matt and Pierce</p>

      <%= yield %>
    </div>
  </body>
</html>
