<!DOCTYPE html>
<html>
  <head>
    <title>MapleProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <!-- Write your page content  here -->
      <p>MAPLE PRJECT</p>
      <button type="button" style="float: right;" onclick="alert('Hello world!')">Mapping</button>
      <button type="button" style="float: right;" onclick="alert('Hello world!')">Maintaining</button>
      <button type="button" style="float: right;" onclick="alert('Hello world!')">Uploading</button>
            <button type="button" style="float: right;"> <%= link_to 'Home page', controller: 'home_page' %></button>

      <p>Developers: Pius, Matt and Pierce</p>

      <%= yield %>
    </div>
  </body>
</html>
