<!DOCTYPE html>
<html>
  <head>
    <title>MapleProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <STYLE>
    <!--
    A{text-decoration:none}
    -->
    a:link{
    color: red;
}
a:hover{
    color: blue;
}
a:active{
    color: green;
}
body {
  background-color: white;
}
    </STYLE>
  </head>

  <body>
    <div id="content">
      <!-- Write your page content  here -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Maple</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Home page', controller: 'home_page' %></li>


                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Mapping dictionaries', controller: 'map' %></li>
              <li><%= link_to 'Maintain dictionaries', controller: 'maintain' %></li>
              <!-- <li><%= link_to 'Uploading', new_system_path %></li> -->
              <!-- <li><%= link_to 'Upload dictionaries', controller: 'load' %></li> -->
              <li><%= link_to 'Create Versions', create_version_path %></li>
              <li><%= link_to "View Versions", version_view_path%></li>
              <li><%= link_to 'View Systems', controller: 'systems' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <p>Developers: Pius, Matt and Pierce</p>

      <%= yield %>
    </div>
  </body>
</html>
