<div class = "jumbotron">
  <h2 align="center">You have uploaded the following System </h2>
  <br>
  <br>
  <p align="center">
    <strong>System name:</strong>
    <%= @system.System_Name %>
  </p>
  <p align="center">
    <strong>System version:</strong>
    <%= @system.System_Version %>
  </p>
  <p align="center">
    <strong>Table Name:</strong>
    <%= System.table_name %>
  </p>
  <p align="center">
    <strong>Column Details:</strong>
    <%= System.columns %>
  </p>

  <br>
  <table align="center" width="100%">
    <tr>
      <th>Table Name</th>
      <th>Variable Name</th>
      <th>Type</th>
    </tr>
    <% @system.variableName().each do |system| %>
    <tr>
        <td><%= @system.tableName()%></td>
        <td><%= @system.variableName() %></td>
        <td><%= @system.variableName() %></td>
      </tr>
      <% end %>
    </table>
  <p align="center">
  <%= link_to 'Systems list', controller: 'systems' %>
  </p>
</div>
